html 
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/custom.css")
    link(rel="icon", type="image/png", sizes="32x32", href="https://cdn.glitch.com/31043720-8668-4592-afd0-560238579b7d%2Ffavicon-32x32.png?v=1589698600163")
  body
    block content
      