h1 Todo List
  a(href="/todos/create") Create new todo list
  form(action="/todos/search", method="GET")
    input(type="text" name="q")
    button Search
  ul
    each todo in todos
      li
        span= todo.work
        span &nbsp;
        a(href="/todos/" + todo.id) View